.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.picture {
  border: 4px solid var(--secondary);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}

@media (max-width: 600px) {
  .picture {
    width: 8rem;
    height: 8rem;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--secondary);
  gap: 2rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid var(--secondary);
  border-radius: 2rem;
  max-width: 1000px;
  margin-left: 2rem;

  p {
    margin: 0.5rem;
  }
}

#intro h3 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}


.footer {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}