/*Theming done with the help of realtimecolors*/

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

@media (prefers-color-scheme: light) {
  :root {
    --text: #0f1a12;
    --background: #f2f8f4;
    --primary: #55b970;
    --secondary: #97d3a7;
    --accent: #7ece94;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #e5f0e8;
    --background: #070d09;
    --primary: #46aa60;
    --secondary: #2c683c;
    --accent: #318148;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* light theme */
:root {
  --text: #0f1a12;
  --background: #f2f8f4;
  --primary: #55b970;
  --secondary: #97d3a7;
  --accent: #7ece94;
}

/* dark theme */
body.dark {
  --text: #e5f0e8;
  --background: #070d09;
  --primary: #46aa60;
  --secondary: #2c683c;
  --accent: #318148;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

h6 {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  text-align: center;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover,
a[aria-current="page"] {
  text-decoration: underline;
}

@media (max-width: 460px) {
  nav {
    display: none;
  }

  nav.open {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: absolute;
    top: 150%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    border: 1px solid var(--primary);
    background-color: var(--background);
  }
}

@media screen and (min-width: 461px) and (max-width: 600px) {
  nav {
    gap: 0;
  }
  a {
    width: 6rem;
  }
}

button,
.button {
  color: var(--background);
  background-color: var(--secondary);
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
